:root {
    --theme-color: #EEEEEE;
    --primary-color: #F675A8;
    --secondary-color: #554994;
    --text-color: #0F0E0E;
    --inverse-textcolor: #EEEEEE;
    --navbar-color: #FFB4B4;
    --menu-mobilebackgroundcolor: #810955;
}

* {
    list-style: none;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

.topheader {
    box-shadow: 0 4px 5px var(--navbar-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400px;
    color: var(--text-color)
}

.logo img {
    border-radius: 100%;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    font-size: 18px;
    font-weight: 400px;
    line-height: 60px;
}

.open-menu,
.close-menu {
    display: none;
}

@media(max-width:950px) {
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobilebackgroundcolor);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }

    .menu li {
        padding: 0;
    }

    .menu a {
        color: var(--inverse-textcolor);
        line-height: 70px;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 25px 16px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }

    .producto__caja1 img {
        width: 200px;
        height: 300px;

    }

}

.carrito{
    display: flex;
    flex-direction: column;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.producto__img{
    display: flex;
   justify-content: center;
}
.producto__img img{
    border-radius: 8px;
}
.producto p{
    display: none;
}
.totales{
    margin: 5px;
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #f8e0e0;
    border-radius: 20px;
   
}
.producto .cantidad{
    display: flex;
}
.agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
button{
   width: 90px;
   height: 30px;
   padding: auto;
   border: none;
   background: #FFB4B4;
   border-radius: 8px;
   font-weight: 700;
}
button:hover{
    background: #554994;
color: var(--inverse-textcolor);
}
.button__pagar{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.bigbtn{
    width: 200px;
    height: 40px;
    text-align: center;
}
h3{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    font-size: 22px;
    background:linear-gradient(to right, #f9abab, #ee7fab);;
}
@media screen and (min-width:500px){
    .producto{
        flex-direction: row;
        max-width: 100%;
    }
    .producto p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 75%;
    }
    .totales{
    margin: 5px;
        display: flex;
        flex-direction: column;
        width: 100px;
        justify-content: center;
        align-items: center;
        background: #f8e0e0;
        border-radius: 20px;
       
    }
    .producto__img{
        margin-left: 100px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    max-width: 100vw;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-footer__grupo-1 {
    display: flex;
    justify-content: center;
}

.grid-footer__grupo-1 a {
    color: var(--inverse-textcolor);
    font-size: 1em;
}

.grid-footer__grupo-1 li {
    margin: 0.6em;
}

.grid-footer__grupo-1 a:hover {
    background: var(--navbar-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 0.4em;
}

.grid-footer__grupo-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--inverse-textcolor);
}

.redes ul {
    display: flex;
    padding: 0;
    gap: 1em;
    flex-wrap: wrap;
}

.redes ul li {
    background: #322b57;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    color: var(--inverse-textcolor);
}

.redes ul li:hover {
    background-color: var(--navbar-color);
    color: var(--text-color);
}

.footer__copyright {
    color: var(--inverse-textcolor);
    text-align: center;
    font-size: 0.7em;
}