<%-include ("./partials/head")-%>
    <link rel="stylesheet" href="../css/registro.css">

    <body>
        <form action="" method="post" id="form-registro">
            <div class="registro">
                <h1>Registrate!</h1>
                <div class="registro__inputs">
                    <input type="text" name="name" id="name" required> <label for="name">Nombre</label>
                    
                </div>
                <div class="registro__inputs">
                    <input type="text" name="userName" id="userName" required> <label for="userName">Nombre de usuario</label>
                </div>
                <div class="registro__inputs">
                    <input type="email" name="email" id="email" required> <label for="email">Email</label>
                </div>
                <div class="registro__inputs">
                    <input type="date" name="birth" id="birth">
                </div>
                <div class="registro__inputs">
                    <input type="password" name="Pass" id="Pass" required> <label for="Pass">Contraseña</label>
                </div>
                <div class="button">
                    <button type="submit">Suscribite!</button>
                </div>
            </div>
            <p> Ya tienes cuenta?,</p><a href="./inicioSesion"> <b>Inicia sesion aqui</b></a>
        </form>
    </body>