<%-include ("./partials/head")-%>

    <link rel="stylesheet" href="./css/inicioSesion.css">

    <body>
        <form action="" method="post" id="form-registro">
            <div class="Inicio-sesion">
                <h1>Inicio de Sesion</h1>
                <div class="Inicio-sesion__inputs">
                    <input type="text" name="userName" id="userName" required> <label for="userName">Nombre de usuario</label>
                </div>
                <div class="Inicio-sesion__inputs">
                    <input type="password" name="Pass" id="Pass" required> <label for="Pass">Contraseña</label>
                    <div class="button">
                        <button type="submit">Iniciar sesion</button>
                    </div>
                    <p> No estas registrado?,</p><a href="./registro"> <b>Resgistrate aqui</b></a>
        </form>
    </body>