<%-include ("./partials/head")-%>
   
        <link rel="stylesheet" href="./css/EstilosdepaginaHome.css">

        <body>
            <div class="hero-image">
                <div class="buscar-hero">
                    <input type="text" placeholder="Buscar libro">
                    <button type="submit"> Buscar</button>
                </div>
            </div>
            <div class="home-container">
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 1.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Living Alone</p>
                        <p>$3000</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 2.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>A tea spoon of earth and sea</p>
                        <p>$4500</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 3.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Descubre la extincion</p>
                        <p>$2600</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 4.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Viajando en invierno</p>
                        <p>$1250</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 5.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Cándido</p>
                        <p>$2400</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 6.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Mi portada de Libro</p>
                        <p>$2000</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>

                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 1.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Living Alone</p>
                        <p>$3000</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 2.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>A tea spoon of earth and sea</p>
                        <p>$4500</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 3.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Descubre la extincion</p>
                        <p>$2600</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 4.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Viajando en invierno</p>
                        <p>$1250</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 5.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Cándido</p>
                        <p>$2400</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>
                </div>
                <div class="home-container__libro">
                    <div class="home-container__libro__img">
                        <img src="./img/libro 6.jpg" alt="">
                    </div>
                    <div class="home-container__descrip">
                        <p>Mi portada de Libro</p>
                        <p>$2000</p>
                    </div>
                    <div class="home-container__button">
                        <button type="button">Comprar</button>
                        <button type="button">Añadir al carrito</button>
                    </div>

                </div>
            </div>
            <%-include ("./partials/footer")-%>
        </body>