<%-include ("./partials/head")-%>
<link rel="stylesheet"  href="../css/notFound.css">
<body>
    <div class="notfound">
        <h1>Error 404</h1>
        <br>
        <h2>Pagina no encontrada</h2>
    </div>
  
</body>
