<%-include ("./partials/head")-%>
  
        <link rel="stylesheet" href="./css/EstilosdepaginaDetail.css">

        <body>
            <div class="producto">
                <div class="producto__caja1">
                    <img src="./img//libro 3.jpg" alt="LIbro3">
                </div>
                <div class="producto__caja2">
                    <h2>Cada historia cuenta</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum alias vero animi quam repudiandae
                        necessitatibus doloribus fuga delectus sed, eaque totam est, impedit fugiat praesentium veniam
                        nihil!
                        Quisquam molestias nulla eos dolorem deleniti suscipit iste minima reprehenderit, fugit
                        reiciendis ipsam
                        et, eligendi porro dolorum qui consectetur rem iure similique velit. Dolor dolorem culpa soluta,
                        deserunt eligendi id optio ipsum veniam quasi nisi officia ex natus neque aliquam voluptatibus
                        quisquam
                        rem itaque praesentium voluptatem totam magnam nihil. Obcaecati aut dolor mollitia. </p>
                    <h3>$5000</h3>
                </div>

            </div>
            <div class="boton-compra">
                <button class="producto-btn">Pagar</button>
            </div>
            <%-include ("./partials/footer")-%>
        </body>