
<body>
    <div class="footer">
        <div class="grid-footer">
            <div class="grid-footer__grupo-1">
                <ul>
                    <li class="info-util"><a href="./Home.html" target="_blank">Home</a></li>
                    <li class="info-util"><a href="./formulario-InicioSesion.html">Mi cuenta</a></li>
                    <li class="info-util"><a href="#">About Us</a></li>
                    <li class="info-util"><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="grid-footer__grupo-2">
                <h3>Seguinos!</h3>
                <div class="redes">
                    <ul>
                        <li><i class='bx bxl-instagram-alt'></i></li>
                        <li><i class='bx bxl-twitter'></i></li>
                        <li><i class='bx bxl-facebook-circle'></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p> <i class='bx bx-copyright'></i><b>DelMerodeador</b> Todos los derechos reservados</p>

        </div>
    </div>
</body>