<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Julieta Tacconi">
    <meta name="description" content="Libreria e-commerce">
    <meta name="keywords" content="libros, sagas, libreria, clasicos, filosofia, ciencia ficcion, web,">
    <title>Libreria DM Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="icon" href="./img/Del merodeador web.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap" rel="stylesheet">
    <script defer src="./menucel.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="topheader">
        <nav class="topnav">
            <a href="#" class="logo">
                <img height="60px" width="60px" src="./img/Bookshop (1).png" alt="Logo" />
                <div> BookShop
                </div>
            </a>
            <button class="open-menu" aria-label="Abrir menú"><img src="./img/botonhamburg.svg"
                    alt="Abrir menú"></button>
            <ul class="menu">
                <button class="close-menu" aria-label="Cerrar menú"><img src="./img/cerrarbtn.svg"
                        alt="Cerrar menú"></button>
                <li><a href="../home">Home</a></li>
                <li><a href="../inicioSesion">Mi cuenta</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>
</body>